#page-landing {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

.top-bar-container {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 3rem;
}

.top-bar-container a {
  color: var(--darker);
  text-decoration: none;
}

.top-bar-container img {
  margin-right: 6rem;
}

.top-bar-options a:first-child{
  margin-right: 30px;
}

#landing-container {
  display: flex;
  width: 90vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 86vh;
  background: var(--green-dark);
  padding-bottom: 3rem;
}

#landing-container h1 {
  margin: 0 3rem;
  padding: 3rem 0;
  text-align: center;
  font-size: 2.6rem;
}

#landing-container strong {
  color: var(--orange-dark);
}

.search-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center !important;
  justify-content: center;
  margin-bottom: 4rem;
}

.select-block {
  width: 62%;
}

.select-block select {
  margin: 0;
  width: 100%;
  height: 5.6rem;
  margin-top: 0.8rem;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  background: var(--white);
  border: 1px solid var(--white-dark);
  outline: 0;
  padding: 0 1.6rem;
  text-align: center; /* para firefox */
  text-align-last: center; /* para chrome */
  font-size: 1.5rem;
  color: var(--darker);

}

.button-container {
  display: flex;
  margin: 0;
  width: 100px;
  margin-top: 0.7rem;
  height: 5.6rem;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  align-items: center;
  justify-content: center;
  background: var(--orange);
}

.button-container a {
  text-decoration: none;
  color: var(--white-dark);
  font-weight: 700;
}

.landing-image {
  display: flex;
  justify-content: center;
}

.hero-image {
  width: 85%;
}