.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 12rem;
  background: var(--white-dark);
  width: 100%;
  margin-bottom: 500px;
  z-index: 1;
}

.top-bar-container {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 3rem;
}

.top-bar-container a {
  color: var(--darker);
  text-decoration: none;
  font-size: 2rem;
}

.top-bar-container a:hover {
  color: var(--orange-dark)
}

.top-bar-container img {
  width: 15rem;
  margin-right: 2rem;
}

.top-bar-options a:first-child{
  margin-right: 30px;
}

@media (min-width: 1100px) {
  .top-bar-container img {
    width: 20rem;
  }

  .top-bar-container a {
    font-size: 2.2rem;
  }
}